@import "../scss/variables";

.station-card {
  animation-name: fadeInUp;
  animation-duration: 500ms;
  animation-delay: calc((var(--index) * 150ms) + 150ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  transition: background-color 0.2s ease-in-out;

  &--active {
    &.card {
      border: 1px solid $primary;
    }
  }

  &:hover {
    background-color: lighten($primary, 60%);
  }
}
